@import './partials/info';
@import './partials/map';
@import './partials/nodes';
@import './partials/bots';
@import './partials/legend';

.App {
  padding: 2vh 0;
  background: white url('./images/mars-background.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  justify-content: space-around;
  max-width: 100vw;
  margin: auto;
}
